# App
NODE_ENV=development
PORT=8000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# MongoDB
MONGODB_URI=mongodb://admin:password@localhost:27017/ecommerce?authSource=admin

# Percona MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=password
MYSQL_DATABASE=ecommerce_transactions

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redispassword

# RabbitMQ
RABBITMQ_URL=amqp://admin:password@localhost:5672
RABBITMQ_QUEUE_ORDERS=order_queue
RABBITMQ_QUEUE_NOTIFICATIONS=notification_queue
RABBITMQ_QUEUE_INVENTORY=inventory_queue
